<div class="container">
  <%= form_with(model: @article , url: article_path(@article), method: 'put', local: true ) do |f| %>
    <%= render partial: 'form', locals: { f: f, article: @article } %>
  <% end %>
</div>
